[project]
name = "procedural-room-gen"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "more-itertools>=10.8.0",
    "numpy>=2.4.1",
]
